/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/*
// Encoders

&sensors { triggers-per-rotation = <30>; };

&left_encoder { steps = <60>; };

&right_encoder { steps = <60>; };
*/

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3
#define EXTRA 4

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        HRK_left_ctrl_alt: HRK_left_ctrl_alt {
            compatible = "zmk,behavior-hold-tap";
            label = "HRK_LEFT_CTRL_ALT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            retro-tap;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 55 56 57 58 59>;
            hold-trigger-on-release;
            flavor = "balanced";
            require-prior-idle-ms = <125>;
            quick-tap-ms = <175>;
        };

        HRK_right_ctrl_alt: HRK_right_ctrl_alt {
            compatible = "zmk,behavior-hold-tap";
            label = "HRK_RIGHT_CTRL_ALT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            retro-tap;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
        };

        hold_control: hold_control {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_CONTROL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
        };

        hrk_left_shift: hrk_left_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HRK_LEFT_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            retro-tap;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 55 56 57 58 59>;
            hold-trigger-on-release;
            flavor = "tap-preferred";
            quick-tap-ms = <175>;
        };

        hrk_right_shift: hrk_right_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HRK_RIGHT_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            retro-tap;
            hold-trigger-on-release;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53 54>;
            quick-tap-ms = <175>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // swap C_MUTE & EQUAL for encoder on the right

        default_layer {
            display-name = "default";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&hold_control F1 NUMBER_1  &hold_control F2 NUMBER_2  &hold_control F3 NUMBER_3      &hold_control F4 NUMBER_4          &hold_control F5 N5           &hold_control F6 NUMBER_6                                &hold_control F7 N7  &hold_control F8 N8             &hold_control F9 N9                 &hold_control F10 N0            &hold_control F11 LC(MINUS)  &hold_control F12 LC(EQUAL)
&kp TAB                    &kp Q                      &kp W                          &kp E                              &kp R                         &kp T                                                    &kp Y                &kp U                           &kp I                               &kp O                           &kp P                        &kp LA(TAB)
&kp LA(SPACE)              &kp A                      &HRK_left_ctrl_alt LEFT_ALT S  &HRK_left_ctrl_alt LEFT_CONTROL D  &hrk_left_shift LEFT_SHIFT F  &kp G                                                    &kp H                &hrk_right_shift RIGHT_SHIFT J  &HRK_right_ctrl_alt LEFT_CONTROL K  &HRK_right_ctrl_alt LEFT_ALT L  &kp SEMI                     &kp SINGLE_QUOTE
&kp LEFT_WIN               &kp Z                      &kp X                          &kp C                              &kp V                         &kp B                      &kp K_MUTE      &kp CAPSLOCK  &kp N                &kp M                           &kp COMMA                           &kp DOT                         &kp MINUS                    &kp SLASH
                                                      &kp LEFT_SHIFT                 &kp LEFT_CONTROL                   &kp DEL                       &lt 1 SPACE                &lt 2 ESCAPE    &kp ENTER     &lt 1 BACKSPACE      &kp DEL                         &kp RIGHT_CONTROL                   &kp RA(S)
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        special_chars {
            // ----------------------------------------------------------------------------------------------------------------------------
            // | BTCLR  |  BT1    |  BT2    |   BT3   |   BT4   |   BT5   |                  |      |      |       |      |       |       |
            // | EXTPWR | RGB_HUD | RGB_HUI | RGB_SAD | RGB_SAI | RGB_EFF |                  |      |      |       |      |       |       |
            // |        | RGB_BRD | RGB_BRI |         |         |         |                  |      |      |       |      |       |       |
            // |        |         |         |         |         |         | RGB_TOG | |      |      |      |       |      |       |       |
            //                    |         |         |         |         |         | |      |      |      |       |      |

            display-name = "extra";
            bindings = <
&kp F1  &kp F2  &kp F3          &kp F4            &kp F5           &kp F6                              &kp F7            &kp F8             &kp F9            &kp F10               &kp F11    &kp F12
&none   &none   &kp PAGE_DOWN   &kp UP_ARROW      &kp PAGE_UP      &none                               &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE    &kp RIGHT_BRACE       &kp CARET  &kp LA(TAB)
&none   &none   &kp LEFT_ARROW  &kp DOWN_ARROW    &kp RIGHT_ARROW  &none                               &kp EXCLAMATION   &kp AT_SIGN        &kp HASH          &kp PLUS              &kp EQUAL  &kp DOLLAR
&none   &none   &kp C_REWIND    &kp C_PLAY_PAUSE  &kp C_FF         &none      &kp K_MUTE    &kp CLCK   &kp AMPERSAND     &kp QUESTION       &kp PIPE          &kp NON_US_BACKSLASH  &kp MINUS  &kp SLASH
                &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT         &kp SPACE  &kp ESCAPE    &kp ENTER  &kp BACKSPACE     &kp DEL            &kp LEFT_CONTROL  &kp RIGHT_ALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        num {
            bindings = <
&trans        &trans  &trans              &trans              &trans               &trans                              &trans         &trans        &trans        &trans          &trans  &trans
&trans        &trans  &trans              &kp LG(UP_ARROW)    &trans               &trans                              &trans         &kp N7        &kp N8        &kp N9          &trans  &trans
&trans        &trans  &kp LG(LEFT_ARROW)  &kp LG(DOWN_ARROW)  &kp LG(RIGHT_ARROW)  &trans                              &trans         &kp NUMBER_4  &kp N5        &kp NUMBER_6    &trans  &trans
&kp LEFT_WIN  &trans  &trans              &trans              &trans               &trans     &trans        &trans     &kp N0         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &trans  &trans
                      &kp LEFT_SHIFT      &trans              &trans               &kp SPACE  &kp ESCAPE    &kp ENTER  &kp BACKSPACE  &kp DEL       &trans        &kp LEFT_SHIFT
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
